
/* Parallax Portada-------------------------------------------------------------------------------------- */

#parallax-portada {
    background-image: url("../../imagenes/iconos/Portada.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#parallax-portada .parallax-container {
    width: 650px;
}

#parallax-portada h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 300%;
    font-weight: 400;
}

#parallax-portada h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 250%;
    color: white;
    font-weight: 350;
}

.sombra {
    text-shadow: 3px 3px 2px rgb(25, 26, 25);
    color: #666;
}

#parallax-portada a img {
    cursor: pointer;
}


/* Banner búsqueda-------------------------------------------------------------------------------------- */

#banner-busqueda {
    background-image: url("../../imagenes/iconos/searchbox-bg.jpg");
}

#banner-busqueda .fondo-traslucido {
    background-color: rgba(57, 162, 222, 0.8);
}

#banner-busqueda .btn-busqueda {
    width: 100%;
    background-color: #073855;
    color: #fff;
}

.texto-descriptivo{
    background-color: #acddf0;
    min-height: 200px;
}
.texto-descriptivo h2{
    color: #000;
    font:'Raleway', sans-serif;
    font-size: 35px;

}
.texto-descriptivo h3{
    color: #000;
    font:'Raleway', sans-serif;
    font-size: 30px;
}
.texto-descriptivo h4{
    color: #000;
    font: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.bloques-home{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /*background-image: url("../../imagenes/home/white-background.jpg"); */
}

/* Estilo de efecto en scroll: https://codepen.io/RenanB/pen/GZeBNg */
/*
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Amatic SC', cursive;
}
*/
.block-parallax-jp{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}
.block-parallax-jp h2{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
}
.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
}

/** Estilos para Moviles **/
.home-secciones-movil h1{
    left:50%;
    font-size: 25px;
    text-align: center;
    color: black;
    border-bottom: none;
    margin-top: 10%;
    margin-bottom: 0px;
}
.home-secciones-movil p{
    left:50%;
    font-size: 17px;
    text-align: center;
    color: black;
}

/** Inmuebles vistos en Home Movil */
.contenedor-imagenes-moviles h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenedor-imagenes-moviles h4{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    bottom: 20%;
    left: 30%;
    position: absolute;
}

.prueba {
    position: relative;
    width: 100%; /* for IE 6 */
}
h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
h2 span {

    color: white;

    font: bold 24px/45px Helvetica, Sans-Serif;

    letter-spacing: -1px;

    background: rgb(0, 0, 0);

    background: rgba(0, 0, 0, 0.7);

    padding: 10px;

}
h2 span.spacer {

    padding:0 5px;
}


.proyectos_mobile{
    text-align: left;
    top: 10%;
    left: 5%
}
h1{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    text-shadow: none;
}
p{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    text-shadow: none;
}
a{
    padding-top: 5%;
    color: white;
    font-style: inherit;
}