.info-box-icon-modificado{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1px;
    display: block;
    float: left;
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    background: rgba(0,0,0,0.2);
}
