.info-box-icon-modificado{
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1px;
    display: block;
    float: left;
    height: 45px;
    width: 45px;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    background: rgba(0,0,0,0.2);
}

.contenedor {
     padding-right: 0px;
     padding-left: 0px;
     margin-right: auto;
     margin-left: auto;
 }

.contenedor-textos-descriptivos {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.block_juampy{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    font-size: 16px;
}
.block_juampy h2{
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 10vw;
    color: white;
    font-weight: 400;
}
.img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
}
